<?xml version="1.0" encoding="ISO-8859-1" ?>
<MenuInterfaceRia>
		<menu name="menu_0" value="Clientes" img="img.png" shortcut="Ctrl+C">
			<option name="option1_menu0" value="Cadastrar" function="" windowTarget="new_client" img="img.png" shortcut="Ctrl+C" hasChild="true">
				<sub>
					<sub_option name="sub_option1_menu0" value="teste1" windowTarget="teste1" functionTarget="" img="img.png" shortcut="Ctrl+N"></sub_option>
					<sub_option name="sub_option2_menu0" value="teste2" windowTarget="teste2" functionTarget="" img="img.png" shortcut="Ctrl+N"></sub_option>
				</sub>
			</option>
			<option name="option2_menu0" value="Editar" windowTarget="edit_client" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option3_menu0" value="Excluir" functionTarget="" img="img.png" shortcut="Ctrl+N" separator="true"></option>
			<option name="option4_menu0" value="Pesquisar" img="img.png">
			</option>
		</menu>
		
		<menu name="menu_1" value="Arquivo" img="img.png" shortcut="Ctrl+N">
			<option name="option1_menu1" value="Novo Projeto" function="" windowTarget="new_project" img="img.png" hasChild="true">
				<sub>
					<sub_option name="sub_option1_menu1" value="Pesquisar" functionTarget="" img="img.png" shortcut="Ctrl+N"></sub_option>
					<sub_option name="sub_option2_menu1" value="Pesquisar" functionTarget="" img="img.png" shortcut="Ctrl+N"></sub_option>
					<sub_option name="sub_option3_menu1" value="Pesquisar" functionTarget="" img="img.png" shortcut="Ctrl+N"></sub_option>
				</sub>
			</option>
			<option name="option2_menu1" value="Abrir" windowTarget="open_project" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option3_menu1" value="Salvar" functionTarget="saveProject" img="img.png" shortcut="Ctrl+N" separator="true"></option>
			<option name="option4_menu1" value="Sair" functionTarget="closeProject" img="img.png" shortcut="Ctrl+N"></option>
		</menu>
		
		<menu name="menu_2" value="Configurar" img="img.png" shortcut="Ctrl+N">
			<option name="option1_menu2" value="Preferenciasinhas" windowTarget="config_pref" img="img.png" shortcut="Ctrl+N" separator="true"></option>
			<option name="option2_menu2" value="FormatarFormatarFormatarFormatarFormatarFormatar" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
		</menu>
		
		<menu name="menu_4" value="Executar" img="img.png" shortcut="Ctrl+E">
			<option name="option1_menu4" value="Preferencias" windowTarget="config_pref" img="img.png" shortcut="Ctrl+N" separator="true"></option>
			<option name="option2_menu4" value="Hello World" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option3_menu4" value="Hello World" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option4_menu4" value="Hello World" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option5_menu4" value="Hello World" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
		</menu>
		
		<menu name="menu_5" value="Clientes" img="img.png" shortcut="Ctrl+E">
			<option name="option1_menu5" value="Preferencias" windowTarget="config_pref" img="img.png" shortcut="Ctrl+N" separator="true"></option>
			<option name="option2_menu5" value="Hello World" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option3_menu5" value="Hello World" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option4_menu5" value="Hello World" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option5_menu5" value="Hello World" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
		</menu>
		
		<menu name="menu_3" value="Janelas" img="img.png" shortcut="Ctrl+J">
			<option name="option1_menu3" value="Preferenciasinhas" windowTarget="config_pref" img="img.png" shortcut="Ctrl+N" hasChild="true">
				<sub>
					<sub_option name="sub_option1_menu3" value="Pesquisar" functionTarget="" img="img.png" shortcut="Ctrl+N"></sub_option>
					<sub_option name="sub_option2_menu3" value="Pesquisar" functionTarget="" img="img.png" shortcut="Ctrl+N"></sub_option>
				</sub>
			</option>
			<option name="option2_menu3" value="Formatar" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option3_menu3" value="FormatarFotar" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option4_menu3" value="Formataatar" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option5_menu3" value="Formarmatar" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option6_menu3" value="FormamatarFormatar" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option7_menu3" value="Forma" windowTarget="format" img="img.png" shortcut="Ctrl+N" separator="true"></option>
			<option name="option8_menu3" value="Formaormatar" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option9_menu3" value="FtarFormatarFormatar" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option10_menu3" value="FatarFormatarFormatar" windowTarget="format" img="img.png"></option>
		</menu>
		
		<!--RichTools-->
		<menu name="menu_6" value="RichTools" img="img.png" shortcut="Ctrl+E">
			<option name="option1_menu6" value="Configurações" windowTarget="rich_config" img="rich_tools.png" shortcut="Ctrl+R"></option>
			<option name="option2_menu6" value="Google" windowTarget="google" img="google.gif" shortcut="Ctrl+B"></option>
			<option name="option3_menu6" value="Plano de Fundo" windowTarget="change_background" img="background_image.png" shortcut="Ctrl+I"></option>
			<option name="option4_menu6" value="Ajuda" windowTarget="help" img="help.png" shortcut="Ctrl+H"></option>
			<option name="option4_menu6" value="Sobre..." windowTarget="sobre" img="rich_blocks_ico.png" shortcut="Ctrl+H"></option>
		</menu>
</MenuInterfaceRia>
