<?xml version="1.0" ?>
<MenuInterfaceRia>
		<menu name="menu1"
			  value="Menu 1"
			  description="">
			<option name="option_1"
					src="option_1_menu_1">
					Option 1 Menu 1 
			</option>
			<option name="option_2"
					src="option_2_menu_1">
					Option 2 Menu 1
					<separator value="true">
					</separator>
					
					<submenu name="submenu_1">
						<submenu_option name="submenu_option_1"
										src="submenu_option_1">
							Submenu
						</submenu_option>
					</submenu>
			</option>
			<option name="option_3"
					src="option_3_menu_1"
					separator="true">
					Option 3 Menu 1
			</option>
				<option name="option_4"
					src="option_4_menu_1">
					Option 4 Menu 1
			</option>
		</menu>
		<menu name="menu2"
			  value="Menu 2"
			  description="">
			<option name="option_1"
					src="option_1_menu_2">
				Option 1 Menu 2
			</option>
			<option name="option_2"
					src="option_2_menu_2">
				Option 2 Menu 2
			</option>
		</menu>
		
		<menu name="menu3"
			  value="Menu 3"
			  description="">
			<option name="option_1"
					src="option_1_menu_3">
				Option 1  Menu 3
			</option>
			<option name="option_2"
					src="option_2_menu_3">
				Option 2  Menu 3
				<separator value="true">
				</separator>
			</option>
			<option name="option_3"
					src="option_3_menu_3">
				Option 3  Menu 3
			</option>
			<option name="option_4"
					src="option_4_menu_3">
				Option 4  Menu 3
					<separator value="true">
					</separator>
			</option>
			<option name="option_5"
					src="option_5_menu_3">
				Option 5  Menu 3
			</option>
		</menu>
		<menu name="menu4"
			  value="Menu 4"
			  description="">
			<option name="option_4"
					src="option_1_menu_4">
				Option 1 Menu 5
			</option>
			<option name="option_2"
					src="option_2_menu_4">
				Option 2 Menu 4
			</option>
		</menu>
</MenuInterfaceRia>