<?xml version="1.0"?>
<MenuInterfaceRia>
		<menu name="menu1" value="Arquivo" description="Menu 1">
			  
			<option name="option_1" value="Abre Janela 1" function="" windowTarget="window1">
			</option>
			<option name="option_2" value="Abre Janela 2" windowTarget="window2">
					<separator value="true"/>
						<submenu name="submenu_1">
							<submenu_option name="submenu_option_1" value="Abra Janela 3" windowTarget="window3">
							</submenu_option>
						</submenu>
			</option>
			<option name="option_4" value="Executa funcao" functionTarget="window3" windowTarget="window1">
			</option>
		</menu>
		
		<menu name="menu2" value="Editar" description="Menu 1">
			  
			<option name="option_1" value="Abre Janela 1" function="" windowTarget="window1">
			</option>
			<option name="option_2" value="Abre Janela 2" windowTarget="window2">
					<separator value="true"/>
						<submenu name="submenu_1">
							<submenu_option name="submenu_option_1" value="Abra Janela 3" windowTarget="window3">
							</submenu_option>
						</submenu>
			</option>
			<option name="option_4" value="Executa funcao" functionTarget="window3" windowTarget="window1">
			</option>
		</menu>
		
		<menu name="menu3" value="Ferramentas" description="Menu 1">
			  
			<option name="option_1" value="Abre Janela 1" function="" windowTarget="window1">
			</option>
			<option name="option_2" value="Abre Janela 2" windowTarget="window2">
					<separator value="true"/>
						<submenu name="submenu_1">
							<submenu_option name="submenu_option_1" value="Abra Janela 3" windowTarget="window3">
							</submenu_option>
						</submenu>
			</option>
			<option name="option_4" value="Executa funcao" functionTarget="window3" windowTarget="window1">
			</option>
		</menu>
</MenuInterfaceRia>
