<?xml version="1.0"?>
<MenuInterfaceRia>
		<menu name="menu1" value="Arquivo" img="img.png" shortcut="Ctrl+N">
			<option name="option1_menu1" value="Novo Projeto" function="" windowTarget="new_project" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option2_menu1" value="Abrir" windowTarget="open_project" img="img.png" shortcut="Ctrl+N"></option>
			<option name="option3_menu1" value="Salvar" functionTarget="saveProject" img="img.png" shortcut="Ctrl+N"></option>
					<separator value="true"/>
			<option name="option4_menu1" value="Sair" functionTarget="closeProject" img="img.png" shortcut="Ctrl+N"></option>
		</menu>
		
		<menu name="menu2" value="Configurar" img="img.png" shortcut="Ctrl+N">
			<option name="option1_menu2" value="Preferenciasinhas" windowTarget="config_pref" img="img.png" shortcut="Ctrl+N"></option>
					<separator value="true"/>
			<option name="option2_menu2" value="FormatarFormatarFormatarFormatarFormatarFormatar" windowTarget="format" img="img.png" shortcut="Ctrl+N"></option>
		</menu>
</MenuInterfaceRia>
